<% include ./partials/header %>

<div class="ui main text container">
	<h1 class="ui centered header">
		Log In
	</h1>
	<form class="ui form" action="/login" method="POST">
		<div class="field">
			<label for="username">Username</label>   
			<input id="username" type="text" name="username" placeholder="username">
		</div>
		<div class="field">
			<label for="password">Password</label>
			<input id="password" type="password" name="password" placeholder="password">
		</div>
		<button class="ui large inverted orange button" type="submit">
			Log In
		</button>
	</form>
	<div id="forgot" >
		<a href="/forgot">
			Forgot Password
		</a>
	</div>
</div>

<% include ./partials/footer %>